head {
        background-color: lightblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {

background-color: lightblue;


}

div.me {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
}

div.header__buttons {
        display: block;
        margin-left: auto;
        text-align: right;
        color: lightslategray;
}

div.fav {

        text-align: center;
}

a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}

.profile {
        /* display: inline; */
        /* margin-left: 100x;
        /* float: right; */
        /* margin-right: 100x; */
        /* align-self: center; */
        float: right;
        margin: 0 10x 0 auto;
}
